# Make sure to rename this file to .env before adding your private keys!!!
PRIVATE_KEY_1 = ''
PRIVATE_KEY_2 = ''
PRIVATE_KEY_3 = ''

# Contract addresses last updated on 2024-02-23, for ETH Denver demo
OP_DISPATCHER = '0x82B4543D23dd102E0D13508019d510AF35dbe6b2'
BASE_DISPATCHER = '0x756C7B2525E926ad8CAe3124E220B64D44D3e4d2'

OP_UC_MW = '0x1178d3eE500EC16F33A72Cb25341fDF10c089949'
BASE_UC_MW = '0x1178d3eE500EC16F33A72Cb25341fDF10c089949'

# You can customize another config file by changing the CONFIG_PATH
CONFIG_PATH = 'config.json'