# Make sure to rename this file to .env before adding your private keys!!!
PRIVATE_KEY_1=''
# Add more if your project requires more private keys

# API keys for developer tooling and infra
OP_ALCHEMY_API_KEY=''
BASE_ALCHEMY_API_KEY=''
OP_BLOCKSCOUT_API_KEY=''
BASE_BLOCKSCOUT_API_KEY=''
TENDERLY_TOKEN=''

# Contract addresses last updated on 2024-03-04, for public testnet launch
OP_DISPATCHER='0x58f1863f75c9db1c7266dc3d7b43832b58f35e83'
BASE_DISPATCHER='0xfc1d3e02e00e0077628e8cc9edb6812f95db05dc'

OP_UC_MW='0x34a0e37cCCEdaC70EC1807e5a1f6A4a91D4AE0Ce'
BASE_UC_MW='0x50E32e236bfE4d514f786C9bC80061637dd5AF98'

# Contract addresses for the sim-client
OP_DISPATCHER_SIM="0x6C9427E8d770Ad9e5a493D201280Cc178125CEc0"
BASE_DISPATCHER_SIM="0x0dE926fE2001B2c96e9cA6b79089CEB276325E9F"

OP_UC_MW_SIM='0xC3318ce027C560B559b09b1aA9cA4FEBDDF252F5'
BASE_UC_MW_SIM='0x5031fb609569b67608Ffb9e224754bb317f174cD'

# You can customize another config file by changing the CONFIG_PATH
CONFIG_PATH='config.json'