[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/polymer-registry"]
	path = lib/polymer-registry
	url = https://github.com/polymerdao/polymer-registry
[submodule "lib/vibc-core-smart-contracts"]
	path = lib/vibc-core-smart-contracts
	url = https://github.com/open-ibc/vibc-core-smart-contracts
