node_modules
.env

# Hardhat files
/cache
/artifacts
/vibcArtifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Foundry files
/out
/cache_forge